@import url('https://fonts.googleapis.com/css?family=Open+Sans');

*{
	box-sizing: border-box;
}


body{
	background:lightgrey;
	width: 100%;
	height: 100%;
}



a{
	text-decoration: none;
}

p{
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	line-height: 26px;
}

h1{
	color:green;
}

input{
	height: 2rem;
	border:1px solid lightgrey;
	border-radius: 4px;



}

input, textarea{
	margin-bottom: 0.5rem;
	width: 96%;
	padding: 0.5rem;
	outline: none;
	margin-top: 0.5rem;

}

nav{
	display: flex;
	justify-content: space-between;
	border:1px solid red;
/*	padding:1.8rem;*/
}

.links{
	padding: 3rem;
	margin-right: 5rem;
}

.links ul{
	display: flex;

}

.links ul li{
	margin-left:1.4rem;
}

section{
	display: flex;
	justify-content: space-around;
	margin:2rem;
	margin-top:2.5rem;

	@media (max-width: 546px){
		display: flex;
		justify-content: center;
		flex-direction: column;
	}
}


.logo{
	background: green;
	padding: 3rem;
	margin-left: 5.9rem;
	color:#fff;
}
.about{
	width:650px;
	margin-right: 0.9rem;
	border:2px solid rgba(0, 0, 0, 0.5);
	padding:1.5rem;
	background: #fff;
}



img{
	margin-top:0.9rem;
}

.about .content img{
	float: left;
	margin-right:0.9rem;
}

.connect{
	width: 270px;
	border:1px solid green;
	padding:0.5rem;
	height: 12rem;
	background: #fff;
}

.social{
	margin-top:1.5rem;
}

.social i{
	font-size: 2.5rem;
	margin-left: 1.3rem;
}



.mainbox{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.box{
	width:14rem;
	height: 9rem;
	background: red;
	margin:0.8rem;
	padding: 0.9rem;
	position: relative;
	border: 0.5px solid lightgrey;
}


.box p{
	position: absolute;
	bottom: 0;
	width: 100%;
	margin-left:-0.9rem;
	background: rgba(0, 0, 0, 0.5);
	text-align: center;
	height: 1.9rem;
	color:#fff;
}



.footer{
	border:1px solid red;
	text-align: center;
	padding:2.5rem;
	position: relative;
	margin-top:5rem;
	right: 0;
	left: 0;
	top:0;
	width: 100%;
	/*height: 5.5rem;*/
}

button{
	width: 7rem;
	padding: 0.8rem;
	border-radius: 4px;
	background: green;
	border:1px solid lightgrey;
	color:#fff;
}

 .one{
	background-image: url('../images/headphones.jpg');
	background-size: cover;
}

 .two{
	background-image: url('../images/headphones.jpg');
	background-size: cover;
}

 .three{
	background-image: url('../images/headphones.jpg');
	background-size: cover;
}

 .four{
	background-image: url('../images/headphones.jpg');
	background-size: cover;
}

 .five{
	background-image: url('../images/headphones.jpg');
	background-size: cover;
}





























































